#loading {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
  background-color: #000000;
}

.loading_text {
  height: 100%;
  display: flex;
  align-items: center;
}

.loading_text > * {
  color: #ffffff;
  position: relative;
  font-family: 'Caveat', cursive, Georgia, serif;
  font-size: clamp(1.5rem, 7vw, 6rem);
  animation-name: wave;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: calc(50ms * var(--delay));
}

@keyframes wave {
  from {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes reveal {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
