nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* padding: 1rem 1rem 0rem 1rem; */
  padding: 1rem;
  position: relative;
  background-color: bisque;
}

nav > * {
  display: flex;
  list-style: none;
}

.nav_left > * > * {
  display: flex;
  align-items: end;
}

.logo {
  width: 48px;
  height: auto;
}

.circle {
  display: none;
}

.nav_right,
.nav_right.inactive {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 80px;
  left: 0;
  padding: 1rem;
  background-color: lightcoral;
}

.nav_right.inactive {
  transform: translateX(100%);
  transition:
    transform 250ms,
    visibility 250ms ease-in;
}

.nav_right.active {
  visibility: visible;
  transform: translateX(0%) perspective();
  transition: transform 250ms ease-out;
}

.nav_right > .nav_item > a {
  display: block;
}

@media screen and (min-width: 768px) {
  /* Desktop */
  .nav_right,
  .nav_right.active,
  .nav_right.inactive {
    visibility: visible;
    flex-direction: row;
    position: initial;
    background: none;
    width: auto;
    padding: 0;
    transform: translateX(0);
  }

  .btn_wrapper {
    display: none;
  }
}
