.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
  margin: 1rem;
}

.socials > * > * {
  display: flex;
}

.icon_social {
  width: 24px;
}
