@font-face {
  /* https://fonts.google.com/specimen/Roboto+Condensed */
  font-family: 'Roboto';
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
  src: url(./assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Caveat';
  font-weight: 400 700;
  font-stretch: normal;
  font-style: normal;
  src: url(./assets/fonts/Caveat/Caveat-VariableFont_wght.ttf);
}

:root {
  --section-heading-text-align: center;
  --section-heading-padding: 1rem;
  --section-heading-font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  --scroll-margin: 80px;
  --anchor-hover-color: #66008c;
  --icon-hover-color: #66008c;
  --background-color-primary: #f4f4f9;
  --navbar-background-color: #59c3c3;
  --article-background-color: #59c3c3;
  --article-heading-font-family: 'Caveat';
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  background-color: var(--background-color-primary);
  font-family: 'Roboto', Arial;
}

body.stop_transitions .nav_right {
  transition: none;
}

.icon {
  width: 32px;
  height: auto;
}
